[workspace]
members = ["./peg-macros", "./peg-runtime"]

[package]
name = "peg"
version = "0.6.3"
authors = [ "Kevin Mehall <km@kevinmehall.net>" ]
license = "MIT"
repository = "https://github.com/kevinmehall/rust-peg"
documentation = "https://github.com/kevinmehall/rust-peg/blob/master/README.md#readme"
description = "A simple Parsing Expression Grammar (PEG) parser generator."
keywords = ["peg", "parser", "parsing", "grammar"]
categories = ["parsing"]
readme = "README.md"
edition = "2018"

[dependencies]
peg-macros = { path = "./peg-macros", version = "= 0.6.3" }
peg-runtime = { path = "./peg-runtime", version = "= 0.6.3" }

[dev-dependencies]
trybuild = "1.0"

[[test]]
name = "trybuild"
path = "tests/trybuild.rs"
harness = false

[features]
trace = ["peg-macros/trace"]
