name: Rust

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Check bootstrap
      run: ./bootstrap.sh && git diff --exit-code
    - name: Run tests
      run: cargo test --all
